/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root{
    --red: #DE2E54;
    --color: white;
    --color1: black;
    --color2: #222222;
    --color4: #0EB4C1;
}
.container {
    width: 100%;
    max-width: 1110px;
    margin-right: auto;
    margin-left: auto;
}

.red-button {
    height: 47px;
    background-color: var(--red);
    font-family: "Open Sans";
    font-weight: bold;
    font-size: 15px;
    line-height: 150%;
    letter-spacing: 2px;
    padding: 12px 24px;
    color: var(--color);
    text-decoration: none;
    border-radius: 8px;
    display: inline-block;
}
.red-button:hover {
    background-color: var(--color);
    color: var(--red);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    border: 2px solid var(--red);
    display: inline-block;
    padding: 12px 24px;
    line-height: 150%;
    height: 47px;
}


/* HEADER part */
.header {
    margin-top: 24px;
    margin-bottom: 24px;
}

.header-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.burger-menu {
    display: none;
    margin-left: 24px;
}

.header-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-decoration: none;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 2px;
    list-style: none;
    gap: 32px;
    width: 487px;
}
.header-link a {
    text-decoration: none;
    color: var(--color1);
}


.header-link a:hover {
    color: var(--red);
}

/* MAIN part */

/* HERO part */
.hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: 533px;
    background-color: var(--color4);
    position: relative;
}

.hero-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 90px;
    position: relative;
}

.hero-content {
    width: 600px;
    height: 293px;
}

.hero-button {
    display: inline-block;
    width: 225px;
    font-size: 14px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    top: 260px;
}

.hero-title {
    color: var(--color);
    font-family: "Open sans";
    font-weight: bold;
}

.hero-text {
    color: var(--color);
    font-size: 18px;
    font-family: "Open sans";
    font-weight: "regular";
    width: 440px;
    margin-bottom: 36px;
}

.hero-img {
    position: absolute;
    bottom: -1px;
    left: 688px;
}

/* XIZMATLAR part */

.xizmatlar-section h2 {
    font-family: "Open sans";
    font-size: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-weight: bolder;
    margin-top: 120px;
    margin-bottom: 52px;
}

.xizmatlar-container {
    margin-bottom: 60px;
}

.xizmatlar-ul {
    width: 864px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 40px;
}

.xizmatlar-li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.xizmatlar-content {
    position: relative;
    margin-left: 44px;
    top: -15px;
}

.xizmatlar-img {
    position: relative;
}

.xizmatlar-title {
    font-family: "Open sans";
    font-size: 20px;
}

.xizmatlar-text {
    font-family: "Open sans";   
    color: rgba(0, 0, 0,80%);
}

.tabiiy-dorii {
    position: relative;
    left: 16px;
}

.tabiiy-dorii-lar {
    position: relative;
    left: 16px;
}

.xizmatlar-section a {
    display: block;
    margin: 0 auto 120px auto;
    width: 200px;
    font-size: 11px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

/* CTA part */
.cta {
    background-color: var(--color4);
    height: 253px;
}

.cta-container {
    color: var(--color);
    color: var(--color);
    font-family: "Open sans";
    font-weight: bold;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.cta-title {
    margin-top: 64px;
}

.cta-buttons a{ 
    color: var(--red);
    text-decoration: none;
    padding: 12px 24px;
    font-size: 15px;
    border: 2px solid var(--color);
    border-radius: 8px;
}

.ctabtn-one {
    position: relative;
    right: 20px;
}

.ctabtn-one:hover {
    background-color: var(--color);
    color:var(--color4);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

.ctabtn-two {
    position: relative;
    left: 20px;
}
.ctabtn-two:hover {
    background-color: var(--color);
    color:var(--color4);
    -webkit-transition: 1s ease;
    -o-transition: 1s ease;
    transition: 1s ease;
}

/* FOOTER part */

.footer {
    background-color: var(--color2);
    height: 97.94px;
}

.footer-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 24px;
}

.footer-link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-family: "Open Sans";
    font-weight: bold;
    line-height: 150%;
    letter-spacing: 2px;
    list-style: none;
    gap: 32px;
}

.footer-link a {
    color: var(--color);
    text-decoration: none;
}

.footer-link a:hover {
    color: var(--red);
}


/* RESPONSIVE */

@media (max-width: 1180px) {
    .header-link {
        display: none;
    }
    .header-button {
        display: none;
    }

    .burger-menu {
        display: block;
    }
    .header-container {
        padding: 10px;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .hero-img {
        position: static;
        margin-top: 80px;
    }

    .hero-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        
    }

    .hero-section {
        background-color: var(--color4);
        height: 962px;
        padding: 20px;
    }

    .xizmatlar-button {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .xizmatlar-content {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        text-align: justify;
        width: 250px;
    }

    .xizmatlar-li {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    .xizmatlar-ul {
        width: 250px;
    }

    .tabiiy-dorii img {
        position: relative;
        left: -16px;
    }

    .tabiiy-dorii h3 {
        left: -40px;
        position: relative;
    }

    .tabiiy-dorii p {
        left: -36px;
        width: 250px;
        position: relative;
    }

    .xizmatlar-li img {
        margin-left: -50px;
    }

    .xizmatlar-li h3 {
        margin-left: -80px;
    }

    .xizmatlar-li p {
        margin-left: -80px;
        width: 250px;
    }

    .footer-container {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        height: 200px;
    }

    .footer {
        height: 400px;
        text-align: center;
    }
}

@media (max-width: 600px) {
    .hero-content{
        width: 350px;
    }

    .cta-title {
        font-size: 20px;
        padding-bottom: 10px;
    }

    .hero-section {
        background-color: var(--color4);
        height: 1017px;
        padding: 20px;
    }

    .cta-buttons a {
        font-size: 10px;
        padding: 8px 18px;
    }

    .hero-text {
        text-align: justify;
    }

    .hero-img {
        margin-top: 110px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        z-index: 1;
    }

    .hero-button {
        margin-top: 80px;
    }

    .xizmatlar-button {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
    .footer-link {
        margin-top: 40px;

        display: -webkit-box;

        display: -ms-flexbox;

        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }
}

@media (max-width: 500px) {
    .hero-text {
        width: 270px;
    }

    .hero-button {
        width: 170px;
        margin-top: 150px;
        font-size: 9px;
    }

    .hero-img {
        width: 300px;
        height: 330px;
        margin-top: 180px;
    }
    .hero-section{
        height: 915px;
    }

    .xizmatlar-button {
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }
}

@media (max-width : 400px) {
    .header-container {
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        padding: 10px;
    }

    .xizmatlar-button {
        position: fixed;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
    }

    .hero-section {
        height: 803px;
    }

    .header-img {
        width: 140px;
    }

    .burger-menu {
        width: 24px;
        height: 24px;
    }

    .hero-button {
        position: relative;
        margin-top: -220px;
        width: 170px;
        font-size: 9px;
    }

    .hero-content {
        width: 270px;
    }

    .hero-img {
        margin-top: 280px;
        width: 270px;
        height: 300px;
    }

    .hero-text {
        width: 270px;
        text-align: center;
    }
    .hero-title {
        font-size: 20px;
        text-align: start;
    }
    .hero-text {
        text-align: start;
    }

    .cta-buttons a {
        position: relative;
        font-size: 8px;
        padding: 6px 14px;
        top: -10px;
    }

    .cta {
        height: 200px;
    }

    .cta-title {
        font-size: 18px;
    }

}